   
    <!--   <%= link_to comment.author.user_name,author_profile_path(@article) %>       
       <%= comment.body%>
         <h1>posted</h1>
           <%= distance_of_time_in_words(comment.article.created_at,comment.created_at)%><br>
        
              <% #if author_signed_in? && comment.author_id == current_author.id %>
                <%#= link_to 'Edit',edit_article_comment_path(:article_id => @comment.article_id, :id => comment.id)  %> 
                <%#= link_to 'Delete',article_comment_path(:article_id => @comment.article_id, :id=>comment.id), method: :delete %>
        <%# else %>
 
        <%# end %> -->
             <div class="comment" id="<%=comment.id%>" style="background-color: rgba(175, 169, 169, 0.24);padding-top: 28px;padding-right: 64px; padding-bottom: 0px;margin-bottom: 15px;    font-size: 15px;">
					<div class="user-photo" style=" padding-left:45px; padding-right: 40px;"><%= image_tag comment.author.photo.url(:small), :class=>"image-set" %>
							<span class=" dot-seperator" style=" padding-left: 15px;">
								<span style="font-size: 20px;">
									<%= link_to comment.author.user_name,author_profile_path(@article), :class =>"username" %>   </span>

					
									

								 <span class="small" style="color: grey;font-size: 13px;padding-left: 8px;">
									<%="#{time_ago_in_words(comment.created_at)} ago "%></span>

								  <div style=" text-align: right;margin-top: -42px;">
								   <ul class="inline-list">
									     <% if author_signed_in? &&  current_author.id==comment.author_id%>
                                   
						    	    <li>  <%= link_to 'Edit', edit_article_comment_path(:article_id=>comment.article.id,:id=>comment.id),:remote=>true %></li>
                                    <li >
                                         <%= link_to 'Delete', article_comment_path(:article_id => comment.article.id, :id => comment.id), method: :delete , :remote=>true %>
                                    </li>
                                       <% else %>
								       <% end %>		
		                             </ul>
                                  </div>
					</div>
				  <div class="comment-body " style="  margin-left: -40px; padding-top: 10px;">
								
								<p style=" padding-left: 90px;    padding-bottom: 30px;"><%= comment.body%></p>
                   </div>
          </div>
