<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-title "><h3 class="createarticle">Create Article</h3></div>
          </div><!--.panel-heading-->
          <div class="panel-body">
          <%= form_for(@article) do |f| %>
           <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

            <div class="row example-row">
              <div class="col-md-3">Title</div><!--.col-md-3-->
              <div class="col-md-9">

               <%=f.text_field :title,:class=>'form-control',:placeholder=>'Title'%>
              <br>

              </div><!--.col-md-9-->
              <div class="col-md-3">Description</div><!--.col-md-3-->
              <div class="col-md-9 ">
               <%=f.text_area :body,:class=>'summernote form-control ',:placeholder=>'Description'%>
               <br>
              </div><!--.col-md-9-->
               <div class="col-md-3">Tags</div><!--.col-md-3-->
              <div class="col-md-9">

               <%=f.text_field :tag_list,:class=>'form-control',:placeholder=>'Tags'%>
               <p>Enter a Comma-separated list of Words to Describe your Content<p><br>
              

              </div><!--.col-md-9-->
               <div class="col-md-3">Image</div><!--.col-md-3-->
              <div class="col-md-9">

               <%=f.file_field  :image%>
              <br>

              </div><!--.col-md-9-->
              <div class="col-md-3"></div><!--.col-md-3-->
              <div class="col-md-9">

               <%=f.submit :class=>'btn btn-success'%>
              <br>

              </div><!--.col-md-9-->
            </div><!--.row-->

          </div><!--.panel-body-->
        </div><!--.panel-->
        <%end%>
      </div><!--.col-md-12-->
    </div><!--.row-->
    </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.summernote').summernote({
        height: 80,
        
        
      });
    });
  </script>