


  <div class="content">
   <div class="page-header full-content parallax" style="height: 600px; overflow: hidden">
    <div class="parallax-bg" style="background: url('/assets/new9.jpg') 50% 50%; background-size: cover; width: 100%; height: 100%; position: absolute; left: 0; top: 0;">
      </div>
      <div class="profile-info">
   <div class="profile-photo">
            <%= image_tag @author.photo.url(:small), :class =>"img-responsive"%>
        </div><!--.profile-photo-->
         <div class="profile-text light profile-author" style=" padding-top: 10px;">
            <%= link_to @author.user_name, author_profile_path(@author.id), :class =>"white-color no-decor"%>
         </div><!--.profile-text-->
       </div><!--.profile-info-->

       <div class="row">
         <div class="col-sm-6">
         </div><!--.col-->
        <div class="col-sm-6">
          <ol class="breadcrumb">
             <li><a href="<%= articles_path()%>" ><i style="color: #ff355d;font-size: 20px;"class="ion-home"></i></a></li>
           </ol>
         </div><!--.col-->
       </div><!--.row-->
       <div class="header-tabs scrollable-tabs sticky">
         <ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
          <li class="active"><a href="#timeline" data-toggle="tab" class="btn-ripple">Timeline</a></li>
           <li><a href="#about" data-toggle="tab" class="btn-ripple">About</a></li>
           <li><a href="#photos" data-toggle="tab" class="btn-ripple">Photos</a></li>
            <% if author_signed_in? && @author.id == current_author.id %>
           <li><a href="#edit" data-toggle="tab" class="btn-ripple">Edit Profile</a></li>
           <% end%>
         </ul>
      </div>


     </div><!--.page-header-->
   
    <div class="row user-profile" style=" padding-left: 40px; padding-right: 40px;">
      <div class="col-md-12" style="padding-left:10px">
        <div class="tab-content without-border">
          <div id="timeline" class="tab-pane active">

            <div class="row masonry">

      
                 <% @author.articles.each do |article| %>
                    <div class="col-md-4 col-sm-4 col-xs-6" style="padding-bottom:8px;padding-right: 4px;padding-left: 4px;">
                       <div class="card card-user-new">
                       <%= image_tag article.photo.url(:medium), :class =>"img-responsive index-image"%>
                         <div class="card-body">
                           <h5 ><%= link_to article.title , article_path(article.id), :class =>"t-color no-decor" %></h5>

                           <h6 style="color: white;font-size: 15px;">comments <%= (article.comments.size) %></h6>
                           <ul class="social-links list-inline"style="color: white;font-size: 12px;">
                              <li><%= article.created_at.strftime("%b %d, %Y")%></li>
                          </ul>
                       </div><!--.card-body-->
                     </div><!--.card-->
                   </div><!--.col-md-4-->          
                 <%end %>
        
            </div><!--.row-->

          </div><!--#timeline.tab-pane-->

          <div id="about" class="tab-pane">
            <div class="row">
              <div class="col-md-3">
                <ul class="nav nav-tabs borderless vertical">
                  <li class="active"><a href="#about_overview" data-toggle="tab">Overview</a></li>
                  <li><a href="#about_timeline" data-toggle="tab">Timeline</a></li>
                </ul>
              </div><!--.col-md-3-->
              <div class="col-md-9" style="background-color:white;">
                <div class="tab-content">

                  <div class="tab-pane active" id="about_overview">
                    <div class="legend">Contact Information</div>
                    <div class="row">
                      <div class="col-md-3">Email</div><!--.col-md-3-->
                      <div class="col-md-9"> <%= @author.email %></div><!--.col-md-9-->
                    </div><!--.row-->
                    <div class="row">
                      <div class="col-md-3">Mobile Phones</div><!--.col-md-3-->
                      <div class="col-md-9">NIL</div><!--.col-md-9-->
                    </div><!--.row-->
                    <div class="row">
                      <div class="col-md-3">Address</div><!--.col-md-3-->
                      <div class="col-md-9">NIL </div><!--.col-md-9-->
                    </div><!--.row-->
                    <div class="row">
                      <div class="col-md-3">Website</div><!--.col-md-3-->
                      <div class="col-md-9">NIL</div><!--.col-md-9-->
                    </div><!--.row-->
                    
                  
                  </div><!--#about_overview.tab-pane-->

                  <div class="tab-pane" id="about_timeline">
                    <div class="timeline single">

                    <% @author.articles.each do |article| %>
                     <div class="frame">
                           <div class="timeline-badge">
                               <i class="fa fa-headphones"></i>
                           </div><!--.timeline-badge-->
                        <span class="timeline-date"> <%= article.created_at.strftime("%b %d, %Y")%>
                        </span>
                         <span class="text-color right-align" style=" display: inherit;    font-size: 14px;">
                              <% if author_signed_in? && article.author.id == current_author.id %>
                                <%=link_to 'Edit',edit_article_path(article), :class =>"text-color only-hover no-decor padding-10"%> 
                                <%= link_to 'Delete',article, method: :delete, data: { confirm: 'Are you sure?' } , :class =>"text-color only-hover no-decor" %>
                                
                               <% end %>
                         </span> 
                          <div class="timeline-content">
                          <p> <%= article.body %></p>
                          </div><!--.timeline-content-->
                     </div><!--.frame-->
                     <% end %>
                
                    </div><!--.timeline-->

                  </div><!--#about_timeline.tab-pane-->

                </div><!--.tab-content-->

              </div><!--.col-md-9-->
            </div><!--.row-->
          </div><!--#about.tab-pane-->

          <div id="photos" class="tab-pane">
             <div class="row image-row">
            
               <% @author.articles.each do |article| %>
                 <div class="col-md-3 col-sm-3 col-xs-2" style="padding-bottom:8px;padding-right: 4px;padding-left: 4px;">
                    <div class="card card-user-new">
                      <%= image_tag article.photo.url(:medium), :class =>"img-responsive index-image"%>
                      <div>
                        <div class="card-body">
                          <h6 class="no-decor" style="color: white;left: 100px;!important; font-size: 18px;font-weight: 400;"><%= link_to "VIEW",article_path(article.id) %></h6>
                       </div><!--.card-body-->
                       </div>
                     </div><!--.card-->
                   </div><!--.col-md-4-->     
                  <%end %>
             
           </div><!--.col-->
        </div><!--#photos.tab-pane-->
          <% if author_signed_in? && @author.id == current_author.id %>
          <div id="edit" class="tab-pane" style=" padding-left: 5px;">
            <div class="row">
              <%= render partial: 'devise/registrations/edit' %>  
          </div><!--#about.tab-pane-->
         </div> 
         <% else %>
         <% end %>



        </div><!--.tab-content-->
      </div><!--.col-->
    </div><!--.row-->




  </div><!--.content-->
 <div class=" row no-margin" style="backgound-color:grey;">
      <div class="col-md-12" style="background-color: #5d5d5d;">
         <div class="col-md-3" style=" padding-top: 150px; margin-right: -70px;">
            <div class="col-md-6" >
               <img class="img-responsive" src="/assets/logovogue.png" style=" width: 100%;margin-left: 30px;">
            
             <div class="social" style=" padding-bottom: 70px;">
                  <i class="fa fa-lg fa-facebook fb"></i>
                  <i class="fa fa-lg fa-twitter twi"></i>
                  <i class="fa fa-lg fa-google-plus goo"></i>
                  <i class="fa fa-lg fa-instagram insta"></i>
             </div>
            </div>
           
         </div>
         <div class="col-md-6 white-color" style="padding-top:20px;text-align:center;padding-top: 150px;">
          
               <span class="padding-set padding-set-color">Services</span><span class="color-grey">|</span>
               <span class="padding-set padding-set-color">Contact Us</span><span class="color-grey">|</span>
               <span class="padding-set padding-set-color">About Us</span><span class="color-grey">|</span>
               <span class="padding-set padding-set-color">Shop</span><span class="color-grey">|</span>
               <span class="padding-set padding-set-color">We are Hiring</span><br>
               <div style="padding-top:25px;">
               <span class="padding-set line-footer">TERMS & CONDITIONS</span><span class="color-grey">|</span>
                <span class="padding-set line-footer">SUBMISSION RULES</span><span class="color-grey">|</span>
                 <span class="padding-set line-footer">PRIVACY</span><span class="color-grey">|</span>
                  <span class="padding-set line-footer">ADVERTISE</span>
                  </div>

         </div>

         <div class="col-md-3" style="padding-top:20px;padding-bottom: 20px;    padding-left: 40px;">
         <div>
       <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="6" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; ">
       <div style="padding:8px;"> 
       <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> 
       <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;">
         
       </div>
       </div> 
       <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BDFgUtvR5er/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Our favourite looks from Day 2 of #AIFW #AW16. Check out the complete collections on Vogue.in</a>
       </p> 
       <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by VOGUE India (@vogueindia) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-03-18T07:29:05+00:00">Mar 18, 2016 at 12:29am PDT</time>
       </p>
       </div>
       </blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
         </div>
        </div> 
      </div> 
  </div>
  <div class="row no-margin">
       <div class="col-md-12" style="text-align:center;background-color:#444;">
           <h2 style=" font-size: 15px;padding-top: 15px;font-weight: 500;color: white;">Copyright &copy 2016 All Rights Reserved</h2>
       </div>
  </div>
 