
   
<!-- 
                     <%#= image_tag @article.photo.url(:medium) %>
                      
                    <%# @article.tags.each do |tag| %>
                  
                      
                        <%#= link_to tag.name,tag_path(tag), :class =>"tag-c-show" %></span>
                    
                    <%# end %>
                                                   <p><%= @article.title %><p> 
                     
             <%= @article.body %>
             
                       <%#= @article.created_at.strftime("%b %d, %Y")%>
                   
                       <%= link_to @article.author.user_name,author_profile_path()%>
                  
                     <%# if author_signed_in? && @article.author_id == current_author.id %>
                     <%#=link_to 'Edit',edit_article_path(@article.id)%> 
                     <%#= link_to 'Delete',article_path(@article), method: :Delete %>
                     <%# end %>
           
             <%# if @article.comments.size > 0 %>
                        
                        <%#= render partial:'articles/comment',collection: @article.comments %>
                       
              <%# end %>
            
                      <%# if author_signed_in? %>
                         <%#= render partial: 'comments/form' %>
                      <%# end %>
  <!-- <span>
                         <p style="font-size: 15px;padding-right: 40px;"><%= (@article.comments.size) %> </p> 
                   </span>  -->
<div class="nav-bar-container">

    <!-- BEGIN ICONS -->
    
  <div class="nav-user">
     <% if author_signed_in? %>
       <div class="user">
           <%= link_to (image_tag current_author.photo.url(:small)), author_profile_path(current_author.id), :class =>"img-responsive"%>
       </div><!--.user-->
     <% end %>  
</div>   <!-- nav-user -->

</div><!--.nav-bar-container-->

  <div class="content">

    <div class="page-header brown full-content parallax opacity-hero" style="height: 600px; overflow: hidden">
      <div class="parallax-bg" style="background: url('/assets/wallpaper-show.jpg') 50% 50%; background-size: cover; width: 100%; height: 100%; position: absolute; left: 0; top: 0;">
      </div>

    <div class="row">
      <div class="col-sm-6"> </div><!--.col-->
        <div class="col-sm-6">
          <ol class="breadcrumb">    
            <li><a href="<%= articles_path()%>" ><i style="color:white;font-size: 20px;"class="ion-home"></i></a></li>
          </ol>
        </div><!--.col-->
      </div><!--.row-->
    
     <div class="row">
      <div class="col-sm-6"> </div>
        <div class="col-sm-6" style=" bottom: -500px; text-align: right;">
          <ol>    
            <li>
              <% if author_signed_in? && current_author.id == @article.author.id %>
                <%=link_to 'Edit',edit_article_path(@article.id), :class =>"white-color only-hover no-decor padding-10"%> 
                <%= link_to 'Delete',article_path(@article), method: :Delete, :class =>"white-color only-hover no-decor" %>
              <% end %>
           </li>
          </ol>
        </div><!--.col-->
      </div><!--.row-->
    </div><!--.page-header-->

  <div class="row no-padding">
     
        <div class="col-md-8 image-row  margin-bottom-40" style="padding-right:40px;">
        <div class="bg-white">
        <h1 style="font-size: 35px;text-align:center;padding-top: 15px;">
                <%= @article.title%>
             </h1>
             <div class="bg-white"style="text-align:center;">
                      <% @article.tags.each do |tag| %>
                           <%= link_to tag.name,tag_path(tag), :class =>"tag only-hover white-color" %>
                       <% end %>
                  </div>   
           <div class="col-md-12 bg-white ">
            <center>   <%= image_tag @article.photo.url(:medium),:class =>"img-responsive margin-top-40 img-width-set" %></center>
               
           </div>

           <div class="col-md-12 bg-white" style="padding-top: 25px;padding-right: 25px;text-align:center;  padding-left: 25px;">
             
             <div class="text-center">
                <%= @article.body %>
             </div>
             <div class="row" style="padding-top: 30px;padding-bottom: 30px;margin-left: -20px;margin-right: -65px;">
                 <div class="col-md-4" style="    margin-left: -22px;">
                  <span style="font-size: 15px; font-style: italic; color: #a5a5a5;padding-top:30px; text-align: left;">
                         <%= @article.created_at.strftime("%b %d, %Y")%>
                  </span>
                  <span style="font-size: 15px;  color:#a5a5a5;font-style: italic;padding-left: 7px; padding-right: 6px;">by</span>
                  <span style="font-style: italic;"><%= link_to @article.author.user_name,author_profile_path(@article.author.id), :class =>"text-color only-hover"%>
                  </span>  
                  </div> <!-- col-md-4 -->
             </div> 
          </div><!--.col-md-12-->
         </div> 
     
              <div class="col-md-12 bg-white" style=" padding-left: 40px;padding-right: 40px;margin-top:30px;">
                  <% if author_signed_in? %>
                         <%= render partial: 'comments/form' %>
                   <% end %>
                 <div id="commentf">
                   <%= render partial: 'articles/comment', collection: @article.comments.order(:created_at).reverse_order %>
                 </div>
             </div>
       
   </div> <!-- col-md- 8-->
<div class="col-md-4 bg-white" style=" padding: 30px;">

 <div class="card card-user-new bg-white" style="margin-bottom: 8px;"> 
                  <img src="/assets/color-img.png" style=" height:70px;width: 100%;">
                  <div class="card-body only-hover" >
                    <div class="only-hover white-color" style="    text-align: center; font-size: 20px;text-transform: uppercase;">
                        <p>TRENDING STORIES</p>
                    </div>  
                  </div><!--.card-body-->
  </div><!--.card-->
<%a=@article.id%>
<% @article.author.articles.limit(4).each do |at|%>
 <div class="col-md-12 col-sm-4 col-xs-12 padding-10" data-bottom-top="bottom:-100px" data-center="bottom:0px">
          <div class="card card-user-new">

            <%=image_tag at.photo.url(:medium),:class=>'img-responsive member-image'%>
            <div class="card-body">
              
              <h6><%=link_to at.title,article_path(at.id)%></h6>
             
            </div><!--.card-body-->
          </div><!--.card-->
    </div><!--.col-md-3-->
    <%end%>

   </div> <!-- cl-md-4 -->
     </div><!--.row-->
  </div>
  <div class="footr" style="background-color:rgba(0, 0, 0, 0.82);">
    <div class="container">
     <div class="row" style="color:white;font-size:14px;padding-top: 20px;padding-bottom:20px;">
        <div class="col-md-1" style="border-right: 1px solid grey;">Who we are</div> 
        <div class="col-md-1" style="border-right: 1px solid grey;"> What we do</div> 
        <div class="col-md-1" style="border-right: 1px solid grey;    padding-left: 20px;">Our Work </div> 
        <div class="col-md-1" > Contact Us</div> 
        <div class="col-md-5">  </div> 
        <div class="col-md-1" style="color:gray;border-right: 1px solid gray;"> Career</div> 
        <div class="col-md-1" style="color:gray;border-right: 1px solid gray;padding-left: 30px;"> News</div> 
        <div class="col-md-1" style="color:gray;padding-left: 30px;"> People </div> 
     </div>
    </div><!--.container-->
  </div><!--.footer-->
  <div class="footr" style="background: rgba(0, 0, 0, 0.75);">
    <div class="container">
      <div class="row" style="padding-top:35px;padding-bottom:35px;">
        <div class="col-md-2" style="padding-top: 100px;"><img style="width:100%;"src="/assets/logovogue.png"></div>
        <div class="col-md-2" style="color:white;font-size:14px;padding-left:40px;    padding-top: 40px;">
          <h5 style="color:white;">COMPANY</h5>
          <p style="margin-bottom:5px;color: grey;">News </p>
          <p style="margin-bottom:5px;color: grey;">Press Release </p>
          <p style="margin-bottom:5px;color: grey;">Jobs </p>
          <p style="margin-bottom:5px;color: grey;">Contact </p>
        </div>
        <div class="col-md-2" style="color:white;font-size:14px;    padding-top: 40px;">
          <h5 style="color:white;">LEARN MORE</h5>
          <p style="margin-bottom:5px;color: grey;">Support </p>
          <p style="margin-bottom:5px;color: grey;">Developers </p>
          <p style="margin-bottom:5px;color: grey;">Business</p>
          <p style="margin-bottom:5px;color: grey;">Apps</p>
        </div>
        <div class="col-md-6" style="padding-top: 20px;">
          <div style="padding-top:30px;background-color: rgba(31, 23, 23, 0.18);padding-bottom: 30px;padding-left: 30px;    margin-bottom: 20px;">
             <div class="form-group">
                  <div class="col-md-8">
                    <div class="inputer">
                      <div class="input-wrapper">
                        <input type="text" name="" placeholder="Enter your email"class="form-control">
                      </div>
                    </div>
                  </div>
                  <button type="submit" style="background-color: #ff355d;"class="btn">Submit</button>
             </div><!--.form-group-->
          </div>
          <div style=" background-color: rgba(31, 23, 23, 0.18);padding-bottom: 20px;">
            <div style=" text-align: center;">
                <div class="social">
                  <i class="fa fa-lg fa-facebook fb"></i>
                  <i class="fa fa-lg fa-twitter twi"></i>
                  <i class="fa fa-lg fa-google-plus goo"></i>
                  <i class="fa fa-lg fa-instagram insta"></i>
               </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  </div> <!-- footr -->
  <div class="footr" style="background-color:black;color:white;font-size:15px;padding:12px;">
     <center> <div class="copyright v-text">VOGUE PARADIZE &copy; 2015</div></center>
  </div>
